
:root{
    --bg-color: #121212;
    --text-color:#fff;
    --main-color: #D4E761;
    --second-color:#fff;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
.main-container{
    width: 90vw;
    margin: 0 auto;
    padding: 90px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.main-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}
.main-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}
.category-head{
    margin: 30px 0;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
    background: #a8a8a8;
    padding: 12px;
    color: #000;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 15px;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}

/** single post **/
.posts-main-container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 40px;
}



/***************/
@media(max-width: 394px){
    .posts-main-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .posts-main-container{
        grid-gap: 0px;
    }
    

    .categories-content{
        grid-template-columns: repeat(2, 1fr);
    }
    p{
        font-weight: 250px;
    }
}


/***********/

.active{
    background: var(--main-color);
}