*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #121212;
    --text-color:#fff;
    --main-color: #D4E761;
    --second-color:#845891;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all .40s ease;
}

.logo img{
    height: auto;
    width: 160px;
    max-width: 100%;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.header-icons{
    display: flex;
    align-items: center;
}

.header-icons i{
    margin-left: 10px;
    font-size: 24px;
    color: var(--main-color);
    transition: all .40s ease;
    margin-right: 15px;
}

.header-icons i:hover{
    transform: scale(1.2);
    color: var(--text-color);
}

#menu-icon{
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 80px 13%;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.home-text h1{
    font-size: var(--big-font);
    margin: 10px 0 15px;
}

.home-text h6{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600px;
    letter-spacing: 2px;
}

.home-text p{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500px;
    margin-bottom: 48px;
}

.latter{
    width: 100%;
    max-width: 460px;
    position: relative;
}

.latter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid  var(--main-color);
    border-radius: 25px;
    color: var(--bg-color);
    font-weight: 600;
}

.latter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 16px 40px;
    border-radius: 30px;
    border-radius: 25px;
    cursor: pointer;
    top: 2px;
    right: 1px;
}

.home-img img{
    height: auto;
    width: 100%;
}

header.sticky{
    background: var(--bg-color);
    padding: 12px 13%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

.container{
	padding: 70px 13%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
}

.container-img img{
    width: 105px;
}
.container-box{
	display: flex;
	align-items: center;
	gap: 1.8rem;
	border: 1px solid var(--main-color);
	border-radius: 20px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgba(124, 124, 124, 0.15);
	transition: all .40s ease;
}
.container-box:hover{
	transform: translateY(-15px);
}

.container-text h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.container-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
}

.center-text{
    text-align: center;
}

.center-text h5{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.center-text h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}

.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
    text-align: center;
    margin-top: 4rem;
}

.box img{
    height: auto;
    width: 110px;
    margin-bottom: 20px;
}

.box{
	padding: 25px 60px;
	border: 1px solid var(--main-color);
	border-radius: 20px;
    box-shadow: -11.729px -11.729px 32px rgba(124, 124, 124, 0.15);
	transition: all .40s ease;
}
.box:hover{
	transform: translateY(-15px);
}

.box h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 1.3;
	transition: all .40s ease;
}
.box h3:hover{
	color: var(--main-color);
}
.box p{
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
}

.main-btn{
    text-align: center;
    margin-top: 5rem;
}

.btn{
    display: inline-block;
    padding: 16px 30px;
    font-size: var(--p-font);
    font-weight: 700;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 25px;
    transition: all .40s ease;
}

.btn:hover{
	transform: scale(0.9) translateY(-5px);
}

.courses-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, auto));
   gap: 2rem;
   align-items: center;
   margin-top: 4rem;
   cursor: pointer;
   border-radius: 15px;
}

.row
{
    border: 1px solid var(--main-color);
    background: var(--bg-color);
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: -10.729px -10.729px 32px rgba(124, 124, 124, 0.15);
    transition: all .40s ease;
    cursor: pointer;
}

.row:hover{
	transform: translateY(-15px);
}

.row img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.courses-text{
    padding: 35px 20px;
}

.courses-text h5{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
}

.courses-text h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0 15px;
    transition: all .40s ease;
}
.courses-text h3:hover{
    color: var(--main-color);
}

.courses-text h6{
     color: #b1b1b1;
     font-size: var(--p-font);
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 1px;
     margin-bottom: 30px;
}

.rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.star i{
    color: var(--main-color);
    margin-right: 2px;
    font-size: 17px;
}

.review{
    color: #b1b1b1;
    font-size: var(--p-font);
    font-weight: 400;
    letter-spacing: 1px;
}

.cta-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-items: center;
}

.about-img img{
	width: 100%;
	height: auto;
}

.about-text h2{
	font-size: var(--h2-font);
	line-height: 1.2;
	margin-bottom: 20px;
}

.about-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 30px;
}

.about-text h4{
	font-size: 20px;
	margin-bottom: 10px;
}

.about-text h5{
	font-size: 20px;
	margin-bottom: 40px;
}

.footer{
    padding: 60px 13%;
    background: var(--bg-color);
}

.main-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.footer-content img{
    height: auto;
    width: 160px;
    max-width: 100%;
    margin-bottom: 30px;
}

.footer-content li{
    margin-bottom: 18px;

}

.footer-content li a{
    display: block;
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    transition: all .40s ease;
}

.footer-content li a:hover{
	transform: translateX(10px);
	color: var(--main-color);
}

.last-text{
    text-align: center;
    padding: 18px;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.main-footer{
    border-top: 1px solid var(--main-color);
    padding-top: 30px;
}

#loginb{
    background-color: var(--main-color);
    border-radius: 10px;
    color: #121212;
}

#loginb a{
    color: #121212;
}

#loginb:hover{
	transform: scale(0.95) translateY(-2px);
}

@media (max-width: 1410px){
    header{
        padding: 10px 3%;
        transition: .2s;
    }

    header.sticky{
        padding: 12px 3%;
        transition: .2s;
    }

    section{
        padding: 70px 5%;
        transition: .2s;
    }

    .home-text h1{
        font-size: 2.8rem;
    }
    
    .home-text p{
        font-size: 1rem;
    }

    .home-img img{
        width: 90%;
        padding-left: 40px;
    }

    .container{
        padding: 70px 5%;
        transition: .2s;
    }

    .container-box{
        padding: 10px 20px;
    }

    .container-img img{
        width: 90px;
    }

    #hide{
       display: none;
    }

    .center-text h2{
        font-size: 2rem;
    }

    .categories-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    
    .box img{
        width: 100px;
    }
    
    .courses-content{
        gap: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(340px, auto));
     }
      
     .row img{
         width: 100%;
         height: 250px;
     }
     
     .courses-text{
         padding: 25px 20px;
     }
     
     .courses-text h5{
         font-size: 14px;
     }
     
     .courses-text h3{
         font-size: 18px;
     }
 
     .courses-text h6{
          font-size: 1rem;
          margin-bottom: 20px;
     }
     
     .star i{
         font-size: 14px;
     }
     
     .review{
         font-size: 14px;
     }

     .footer{
        padding: 70px 3%;
        transition: .2s;
     }

     .btn{
        padding: 12px 26px;
        font-size: 1rem;
    }

    .about-text h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .about-text p{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    .about-text h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .about-text h5{
        font-size: 16px;
        margin-bottom: 40px;
    } 
}

@media (max-width: 1312px){
    .cta-content{
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        gap: 1.2rem;
    }
}

@media(max-width: 1223px){
    .courses-content{
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
     }
      
     .row img{
         width: 100%;
         height: 250px;
     }
}


@media (max-width: 1094px){
	
    .home-text h1{
        font-size: 2.3rem;
    }
    
    .home-text p{
        font-size: 0.8rem;
    }


    .courses-content{
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
     }

     .cta-content{
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        gap: 1.2rem;
    }
}

@media(max-width: 1054px){
    #hide{
        display:flex
    }
}

@media(max-width: 1038px){
    .courses-content{
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
     }
}

@media (max-width: 1025px){
    .box{
        padding: 15px 30px;
    }
	#menu-icon{
		display: block;
	}
    
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 110vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 170px 30px;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		margin: 1.3rem 0;
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--bg-color);
		transform: translateY(-5px);
	}
	.navbar.open{
		right: 0;
	}
}

@media(max-width: 973px){

    .cta-content img{
        width: 90px;
    }
    .cta-content{
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }
    .categories-content{
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
    .box img{
        width: 100px;
    }

    .home-text h1{
        font-size: 1.8rem;
    }
    
    .home-text p{
        font-size: 0.9rem;
    }


}

@media (max-width: 890px){
	.home{
        text-align: center;
		height: 100vh;
		grid-template-columns: 1fr;
		gap: 1rem;
        margin-bottom: 20%;
	}
	.home-text{
        text-align: center;
		padding-top: 20px;
	}

    .latter{
        display: none;
    }
	.home-img{
        padding-top: 3%;
        padding-left: 15%;
        width: 85%;
		text-align: center;
	}
	.home-img img{
		height: auto;
		width: 100%;
	}
	.about{
		grid-template-columns: 1fr;
		gap: 1rem;
	}

    .about-img{
        width: 85%;
        padding-left: 15%;
    }

    .about-text{
        text-align: center;
    }
}

@media(max-width:774px){
    .categories-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .cta-content{
        grid-template-columns: repeat(3, 1fr);
    }

    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:700px){
    .courses-content{
        grid-template-columns:  repeat(1, 1fr);
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .courses-text h3 h5 h6{
        line-height: normal;
    }
    .courses-text{
        padding: 2px 10px;
    }
    .row img{
        height: 200px;
    }
   .about-text h2{
        font-size: 26px;
    }
   
}

@media(max-width:627px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (max-width: 600px){
	.home{
		height: 100vhh;
	}
}

@media (max-width: 400px){
	.home{
		height: 65vhh;
	}
}



